.header {
  text-align: center;
}
.logo {
  height: 50px;
}
.header nav {
  background-color: black;
  line-height: 40px;
  text-align: left;
  padding-left: 170px;
}
.header nav a {
  text-decoration: none;
  color: white;
  margin-right: 20px;
  padding: 10px;
  font-size: 20px;
}
.header nav a:hover {
  background-color: lightgray;
}
